html {height:100%}
body { height: 100%; margin: 0; padding: 0px}
#map_canvas {width: 500px; height: 100%; margin-left: auto; margin-right: auto;}
#home {
	text-align: center;
}


#home .ui-controlgroup {
	width: 60%;
	margin: 0 auto;
	margin-top: 20px;
	max-width: 250px;
}

#home img {
	width: 50%;
	max-width: 200px;
}
#footer .ui-controlgroup {
    width:100%;
    text-align: center;
    margin-left: 2.5%;
    margin-right: auto;
}
#footer a {
	width:19%;
}

.ui-icon-my-camera {
	background-image: url("../images/icons/86-camera.png");
	background-size: 18px, 18px;
}
.ui-icon-my-search {
	background-image: url("../images/icons/06-magnify.png");
	background-size: 18px, 18px;
}
.ui-icon-my-grid {
	background-image: url("../images/icons/07-map-marker.png");
	background-size: 18px, 18px;
}
.ui-icon-my-info{
	background-image: url("../images/icons/12-eye.png");
	background-size: 18px, 18px;
}
.ui-icon-my-gear{
	background-image: url("../images/icons/19-gear.png");
	background-size: 18px, 18px;
}



